{% extends "layouts/base.html" %}

{% block meta %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block content %}
<h2>
    Flashcards
</h2>
<p>
    with hotkeys and editing features!
    (use arrow keys to flip/cycle through cards)
</p>
<div id="root" class="noselect">
</div>

<style>
    body {
        overflow: hidden;
        min-width:600px;
    }

    .prev {
        float: left;
    }
    .next {
        float: right;
    }
    .save-load-label {
        margin-left: 20px;
        font-style: italic;

    }

    h2, p {
        font-family: sans-serif;
        text-align: center;
    }
    input[type=text] {

        width: 280px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .card-container {
        height: 100%;
        text-align: center;
        width: 100%;
        margin: 0px;
        position: relative;
    }
    .flip-container {
        width: 100%;
        text-align: center;
        margin: 0px;
        cursor: pointer;
    }
    .flip-container .flippable {
        transition: 0.5s;
        transform-style: preserve-3d;
        position: relative;
        backface-visibility: hidden;
    }
    .flip-container .flipme {
        transform-origin: 50px 50px;
        transform: rotateX(180deg);
        /*   backface-visibility: hidden; */
    }
    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    }
    .flip-container,
    .front,
    .back {
        width: 100%;
        height: 100px;
        line-height: 100px;
        text-align: center;
        font-size: 20px;
        font-family: Verdana;
        /*   border-radius: 5px; */
    }
    .front,
    .back {
        transform-origin: 50%;
        backface-visibility: hidden;
        position: absolute;
    }

    .back {
        display: inline-block;
        width: 50%;
        margin-left: -25%;
        background-color: #0c0c0c;
        color: white;
        transform-origin: 50%;
        transform: rotateX(180deg);
        font-size: 18px;
        border: None;
        font-family: Verdana;
        color: None;
        border-radius: 5px;
    }
    .front {
        border-radius: 5px;
        display: inline;
        margin-left:-25%;
        background-color: lightgray;
        width: 50%;
    }
    .modal {
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.0);
    }

    .save-load-main {
        display: inline-block;
        margin-top: 10px;
        position: relative;
        background: white;
        width: 100%;
        /*   height: auto; */
        bottom:20%;
        left:30%;
        /*   transform: translate(-50%,-50%); */
        /* 	animation: fadeIn ease 1s; */
    }
    .add-card-main {
        margin-top: 10px;
        position:relative;
        background: white;
        width: 100%;
        /*   height: auto; */
        bottom:50%;
        left:30%;
        /*   transform: translate(-50%,-50%); */
        /* 	animation: fadeIn ease 1s; */
    }
    .add-card {
        position: relative;
        float: bottom;
    }
    .save-load {
        position: relative;
        float: top;
    }

    .display-block {
        display: block;
        position: relative;
    }

    .display-none {
        display: none;
    }
    .file-name {
        margin-top: 10px
        width:200px;
    }
    .file-in {
        margin-top:10px;
        margin-bottom:10px;
    }
    .save-load-button {
        display: inline-block;
        float: right;
    }
    .add-edit-button {
        display: inline-block;
        float:left;
    }
    @keyframes fadeIn{
        0% {

            opacity:0;
            transform:  translate(-50%, 25%)  ;
        }
        100% {
            opacity:1;
            transform:  translate(-50%,-50%)  ;
        }
    }
</style>

<script>
    let sampleDeck = [
        { front: "front #1", back: "back #1" },
        { front: "front #2", back: "back #2" },
        { front: "front #3", back: "back #3" }
    ];
    //
    class App extends React.Component {
        constructor(props) {
            super(props);
            this.state = {
                childFormActive: false,
                activeDeck: sampleDeck,
                idx: 0,
                menuActive: false
            };
            // this.useKeyboardShortcut = useKeyboardShortcut.bind(this);
            this.getAddedDeck.bind(this);
            this.nextCard.bind(this);
            this.prevCard.bind(this);
            this.getNewCard.bind(this);
            this.getEditedCard.bind(this);
            this.getReplacementDeck.bind(this);
            this.handleKeyDown.bind(this);
            this.getFormStatus.bind(this);
            // this.useKeyboardShortcut.bind(this);
            // this.prevHotKey.bind(this);
        }

        // useKeyboardShortcut(['Left',], ()=>this.prevCard())
        getFormStatus = (b) => {
            console.log("hello from child")
            this.setState({childFormActive: b});
        }
        getNewCard = (card) => {
            // console.log("card from Parent: " + JSON.stringify(card));
            let newDeck = Array.from(this.state.activeDeck);
            newDeck.splice(this.state.idx, 0, card);
            this.setState({ activeDeck: newDeck });
        };
        handleKeyDown = (event) => {
            if (!this.state.childFormActive) {
                switch (event.key) {
                    case "Left": // IE/Edge specific value
                    case "ArrowLeft":
                        this.prevCard()
                        // Do something for "left arrow" key press.
                        break;
                    case "Right": // IE/Edge specific value
                    case "ArrowRight":
                        this.nextCard()
                        // Do something for "right arrow" key press.
                        break;
                    case "Enter":
                        // Do something for "enter" or "return" key press.
                        break;
                    case "Esc": // IE/Edge specific value
                    case "Escape":
                        // Do something for "esc" key press.
                        break;
                    default:
                        return; // Quit when this doesn't handle the key event.
                }
            }

        }
        getEditedCard = (card) => {
            let newDeck = Array.from(this.state.activeDeck);
            newDeck[this.state.idx] = card;
            this.setState({ activeDeck: newDeck });
        };
        getAddedDeck = (deck) => {
            let oldDeck = Array.from(this.state.activeDeck);
            let newDeck = oldDeck.concat(deck);
            this.setState({ activeDeck: newDeck });
        };
        getReplacementDeck = (deck) => {
            this.setState({ activeDeck: deck });
        };
        nextCard() {
            let new_idx =
                this.state.idx + 1 === this.state.activeDeck.length ? 0 : this.state.idx + 1;
            this.setState({ idx: new_idx });
        }
        prevCard() {
            let new_idx =
                this.state.idx - 1 < 0
                    ? this.state.activeDeck.length - 1
                    : this.state.idx - 1;
            this.setState({ idx: new_idx });
        }
        render() {
            const activeCard = this.state.activeDeck[this.state.idx];
            return (
                <div onKeyDown={this.handleKeyDown} tabIndex="0">
                    <Card data={activeCard}/>
                    <button onClick={() => this.prevCard()} className="prev">Previous</button>
                    <button onClick={() => this.nextCard()} className="next">Next</button>
                    <br />
                    <AddCardForm
                        inputActive={this.getFormStatus}
                        addFormCallback={this.getNewCard}
                        editFormCallback={this.getEditedCard}
                        activeCard={this.state.activeDeck[this.state.idx]}
                    />
                    <SaveLoadDeckForm
                        inputActive={this.getFormStatus}
                        addDeckCallback={this.getAddedDeck}
                        replaceDeckCallback={this.getReplacementDeck}
                        deckToSave={this.state.activeDeck}
                    />
                </div>
            );
        }
    }
    class Card extends React.Component {
        constructor(props) {
            super(props);
            this.state = { flipped: false };
            this.handleClick.bind(this);
            this.handleKeyDown.bind(this);
            // this.activeCard = this.props.activeCard;
        }
        handleKeyDown = (event) => {
            event.preventDefault();
            if (event.key == "ArrowUp"||event.key == "ArrowDown") {
                this.setState({flipped: !this.state.flipped});
            }
        }
        handleClick = (event) => {
            event.preventDefault();
            this.setState({ flipped: !this.state.flipped });
            return;
        };
        render() {
            const flippedClassList = this.state.flipped
                ? "flippable card flipme"
                : "flippable card";
            return (
                <div className="card-container" onKeyDown={this.handleKeyDown} tabIndex="0">
                    <div className="flip-container">
                        <div
                            className={flippedClassList}
                            onMouseUp={this.handleClick}
                            onTouchStart={this.handleClick}
                            onTouchEnd={this.handleClick}
                        >
                            <div className="front noselect">{this.props.data.front}</div>
                            <div className="back noselect">{this.props.data.back}</div>
                        </div>
                    </div>
                </div>
            );
        }
    }
    class AddCardForm extends React.Component {
        constructor(props) {
            super(props);
            this.state = { show: false, front: "", back: "", editOrAdd: "add" };
            this.handleInputChange.bind(this);
            this.toggleMenu.bind(this);
            this.sendAddData.bind(this);
            this.sendEditData.bind(this);
            this.handleSubmit.bind(this);
            this.setEditFields.bind(this);
            this.setAddFields.bind(this);
        }
        sendAddData = (card) => {
            // console.log("card val from sendAddData(): " + JSON.stringify(card));
            this.props.addFormCallback(card);
        };
        sendEditData = (card) => {
            // console.log("card val from sendEditData(): " + JSON.stringify(card));
            this.props.editFormCallback(card);
        };
        handleInputChange = (event) => {
            this.setState({ [event.target.name]: event.target.value });
        };
        toggleMenu = () => {
            // this.props.inputActive(!this.state.show)
            this.setState({ show: !this.state.show });
        };
        handleSubmit = (event) => {
            if (
                this.state.front.trim() != "" &&
                this.state.back.trim() != "" &&
                this.state.front.trim() != this.state.back.trim()
            ) {
                const card = { front: this.state.front, back: this.state.back };
                event.preventDefault();
                // console.log("card val from handleSubmit(): " + JSON.stringify(card));
                if (this.state.editOrAdd === "add") {
                    this.sendAddData(card);
                    this.setAddFields();
                    this._input.focus()

                } else {
                    this.sendEditData(card);
                }
            } else {
                event.preventDefault();
                alert("pls add a real card");
            }
        };
        setEditFields = () => {
            this.setState({
                front: this.props.activeCard.front,
                back: this.props.activeCard.back
            });
        };
        setAddFields = () => {
            this.setState({ front: "", back: "" });
        };
        handleEditOrAddChange = (event) => {
            const name = event.target.name;
            const value = event.target.checked;
            if (name === "edit") {
                this.setEditFields();
            } else if (name === "add") {
                this.setAddFields();
            }
            this.setState({ editOrAdd: event.target.name });
        };
        componentDidUpdate(prevProps) {
            if (
                this.props.activeCard != prevProps.activeCard &&
                this.state.editOrAdd === "edit"
            ) {
                this.setEditFields();
            }
            if (this.props.activeCard != prevProps.activeCard) {
            }
        }
        handleFocus = (event) =>
        {
            console.log("focus event fired!");
            if (event.target.name === "front" || event.target.name === "back") {
                console.log("front or back selected!")
                this.props.inputActive(true)
            } else {
                this.props.inputActive(false)
            }}

        render() {
            const classInfo = this.state.show
                ? "add-card display-block"
                : "add-card display-none";
            const editOrAdd =
                this.state.editOrAdd === "add" ? [false, true] : [true, false];
            const buttonVal =
                this.state.editOrAdd.charAt(0).toUpperCase() + this.state.editOrAdd.slice(1);

            return (
                <div>
                    <button onClick={() => this.toggleMenu()} className="add-edit-button">Show/Hide Card Input</button>
                    <div className="add-card-main">
                        <form className={classInfo} onSubmit={this.handleSubmit} onKeyDown={this.handleKeyDown}>
                            <input
                                type="radio"
                                name="edit"
                                checked={editOrAdd[0]}
                                onChange={this.handleEditOrAddChange}
                            />
                            <label for="edit">Edit</label>
                            <input
                                type="radio"
                                name="add"
                                checked={editOrAdd[1]}
                                onChange={this.handleEditOrAddChange}
                            />
                            <label for="add">Add</label>

                            <br></br>
                            <input
                                ref={c=>{this._input = c}}
                                type="text"
                                name="front"
                                placeholder="flashcard front"
                                value={this.state.front}
                                onChange={this.handleInputChange}
                                onFocus={this.handleFocus}
                                onBlur={()=>this.props.inputActive(false)}
                                autoComplete="off"
                            ></input>
                            <br></br>
                            <input
                                type="text"
                                name="back"
                                placeholder="flashcard back"
                                value={this.state.back}
                                onChange={this.handleInputChange}
                                onFocus={this.handleFocus}
                                onBlur={()=>this.props.inputActive(false)}
                                autoComplete="off"
                            ></input>
                            <br></br>
                            <input type="submit" value={buttonVal} />
                        </form>
                    </div>
                </div>
            );
        }
    }
    class SaveLoadDeckForm extends React.Component {
        constructor(props) {
            super(props);
            this.state = {
                show: false,
                selectedOption: "save",
                showFileInput: false,
                uploadedDeck: [],
                filename: "",
                loading: false
            };
            this.handleSubmit.bind(this);
            this.toggleMenu.bind(this);
            this.sendReplacementDeck.bind(this);
            this.sendAddedDeck.bind(this);
            this.download.bind(this);
            this.handleInputChange.bind(this);
            // this.handleUpload.bind(this);
            this.setNewDeck.bind(this);
            this.handleChangeFile.bind(this);
            this.handleFile.bind(this);
            this.handleFocus.bind(this);
            // this.upload.bind(this);
        }
        handleFocus = (event) => {
            const name = event.target.name;
            if (name === "filename") {
                this.props.inputActive(true)
            } else {
                this.props.inputActive(false);
            }
        }
        sendReplacementDeck = (deck) => {
            this.props.replaceDeckCallback(deck);
        };
        sendAddedDeck = (deck) => {
            this.props.addDeckCallback(deck);
        };
        handleSubmit = (event) => {
            const opts = this.state.selectedOption;
            event.preventDefault();
            switch (opts) {
                case "save":
                    console.log(
                        "save selected! deck contents: " + JSON.stringify(this.props.activeDeck)
                    );
                    this.handleDownload();
                    this.setState({ filename: "" });
                    return;
                case "load":
                    console.log("load (add) selected");
                    // this.handleUpload();
                    console.log("uploaded deck = " + JSON.stringify(this.state.uploadedDeck));
                    this.props.addDeckCallback(this.state.uploadedDeck);
                    return;
                case "replace":
                    console.log("load (replace) selected");
                    this.props.replaceDeckCallback(this.state.uploadedDeck);
                    return;
                // this.handleUpload();
            }
        };
        handleOptsChange = (event) => {
            const name = event.target.name;
            if (name != "save") {
                this.setState({ selectedOption: name, showFileInput: true });
            } else {
                this.setState({ selectedOption: name, showFileInput: false });
            }
        };
        handleInputChange = (event) => {
            this.setState({ [event.target.name]: event.target.value });
        };
        download = (filename, text) => {
            var pom = document.createElement("a");
            pom.setAttribute(
                "href",
                "data:text/plain;charset=utf-8," + encodeURIComponent(text)
            );
            pom.setAttribute("download", filename);

            if (document.createEvent) {
                var event = document.createEvent("MouseEvents");
                event.initEvent("click", true, true);
                pom.dispatchEvent(event);
            } else {
                pom.click();
            }
        };
        handleDownload = () => {
            console.log("writing: " + JSON.stringify(this.props.deckToSave));
            let t = JSON.stringify(this.props.deckToSave, null, "\t");
            // let t2 = myCards
            let fn = "";
            if (this.state.filename.trim() != "") {
                fn = this.state.filename + ".json".toString();
            } else {
                fn = "flashcards.json".toString();
            }
            this.download(fn, t);
        };

        handleFile = (event) => {
            const content = event.target.result;
            const json = JSON.parse(content);
            console.log("file content", content);
            this.setState({ uploadedDeck: json });
            // You can set content in state and show it in render.
        };
        handleChangeFile = (file) => {
            const fileData = new FileReader();
            fileData.onloadend = this.handleFile;
            fileData.readAsText(file);
        };
        sendFormStatus = (bool) => {
            this.props.inputActive(bool);
        }
        setNewDeck = (newDeck) => {
            this.setState({ uploadedDeck: newDeck });
        };
        toggleMenu = () => {
            this.setState({ show: !this.state.show });
        };
        render() {
            const labelContents =
                this.state.selectedOption === "load"
                    ? "concatenate loaded cards to the end of the current deck"
                    : this.state.selectedOption === "replace"
                        ? "loaded cards replace the current deck"
                        : "save the current deck as a .json file";
            const classInfo = this.state.show
                ? "save-load display-block"
                : "save-load display-none";
            const isChecked = (name) => {
                return this.state.selectedOption === name ? true : false;
            };
            const fileInputClass = !this.state.showFileInput
                ? "file-in display-none"
                : "file-in display-block";
            const buttonVal =
                this.state.selectedOption.charAt(0).toUpperCase() +
                this.state.selectedOption.slice(1);
            return (
                <div>
                    <button onClick={() => this.toggleMenu()} className="save-load-button">Show/Hide Save/Load Menu</button>
                    <div className="save-load-main">
                        <form className={classInfo} onSubmit={this.handleSubmit}>
                            <input
                                type="radio"
                                name="save"
                                checked={isChecked("save")}
                                onChange={this.handleOptsChange}
                            ></input>
                            <label for="save">Save</label>
                            <input
                                type="radio"
                                name="load"
                                checked={isChecked("load")}
                                onChange={this.handleOptsChange}
                            ></input>
                            <label for="load">Load (Add)</label>
                            <input
                                type="radio"
                                name="replace"
                                checked={isChecked("replace")}
                                onChange={this.handleOptsChange}
                            ></input>
                            <label for="replace">Load (Replace)</label>
                            <br></br>
                            <br></br>
                            <br
                                className={
                                    this.state.showFileInput === true
                                        ? "file-name display-none"
                                        : "file-name display-block"
                                }
                            ></br>
                            <label for="filename" className="save-load-label">{labelContents}</label>
                            <br></br><br></br>

                            <input
                                type="text"
                                name="filename"
                                placeholder="Deck name (defaults to 'flashcards')"
                                value={this.state.filename}
                                className={
                                    this.state.showFileInput === true
                                        ? "file-name display-none"
                                        : "file-name display-block"
                                }
                                onChange={this.handleInputChange}
                                autoComplete="off"
                                onFocus={this.handleFocus}
                            ></input>
                            <input
                                type="file"
                                id="uploadDeck"
                                name="file"
                                accept=".json"
                                className={fileInputClass}
                                onChange={(e) => this.handleChangeFile(e.target.files[0])}
                            ></input>

                            <input type="submit" value={buttonVal} onFocus={this.handleFocus} />
                        </form>
                    </div>
                </div>
            );
        }
    }
    const blacklistedTargets = ["INPUT", "TEXTAREA"];

    // const keysReducer = (state, action) => {
    //   switch (action.type) {
    //     case "set-key-down":
    //       return { ...state, [action.key]: true };
    //     case "set-key-up":
    //       return { ...state, [action.key]: false };
    //     default:
    //       return state;
    //   }
    // };

    // const useKeyboardShortcut = (shortcutKeys, callback) => {
    //   if (!Array.isArray(shortcutKeys))
    //     throw new Error(
    //       "The first parameter to `useKeyboardShortcut` must be an ordered array of `KeyboardEvent.key` strings."
    //     );

    //   if (!shortcutKeys.length)
    //     throw new Error(
    //       "The first parameter to `useKeyboardShortcut` must contain atleast one `KeyboardEvent.key` string."
    //     );

    //   if (!callback || typeof callback !== "function")
    //     throw new Error(
    //       "The second parameter to `useKeyboardShortcut` must be a function that will be envoked when the keys are pressed."
    //     );

    //   const initialKeyMapping = shortcutKeys.reduce((currentKeys, key) => {
    //     currentKeys[key.toLowerCase()] = false;
    //     return currentKeys;
    //   }, {});

    //   const [keys, setKeys] = useReducer(keysReducer, initialKeyMapping);

    //   const keydownListener = useCallback(
    //     keydownEvent => {
    //       const { key, target, repeat } = keydownEvent;
    //       const loweredKey = key.toLowerCase();

    //       if (repeat) return;
    //       if (blacklistedTargets.includes(target.tagName)) return;
    //       if (keys[loweredKey] === undefined) return;

    //       if (keys[loweredKey] === false)
    //         setKeys({ type: "set-key-down", key: loweredKey });
    //     },
    //     [keys]
    //   );

    //   const keyupListener = useCallback(
    //     keyupEvent => {
    //       const { key, target } = keyupEvent;
    //       const loweredKey = key.toLowerCase();

    //       if (blacklistedTargets.includes(target.tagName)) return;
    //       if (keys[loweredKey] === undefined) return;

    //       if (keys[loweredKey] === true)
    //         setKeys({ type: "set-key-up", key: loweredKey });
    //     },
    //     [keys]
    //   );

    //   useEffect(() => {
    //     if (!Object.values(keys).filter(value => !value).length) callback(keys);
    //   }, [callback, keys]);

    //   useEffect(() => {
    //     window.addEventListener("keydown", keydownListener, true);
    //     return () => window.removeEventListener("keydown", keydownListener, true);
    //   }, [keydownListener]);

    //   useEffect(() => {
    //     window.addEventListener("keyup", keyupListener, true);
    //     return () => window.removeEventListener("keyup", keyupListener, true);
    //   }, [keyupListener]);
    // };

    // function withKeyBoardShortcut(Component) {
    // 	return function({ shortcutKeys, callback}) {
    // 		const [callback, shortcutKeys] = useKeyBoardShortcut(shortcutKeys, callback);
    // 		return <Component {... callback}} />
    // 	}
    // }
    // const AppWithHook = withKeyBoardShortcut(App);
    ReactDOM.render(<App />, document.getElementById("root"));
</script>
{% endblock %}