{% extends "layouts/base.html" %}

{% block meta %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block content %}
<style>
  html{
  min-width:100%;
  max-width:900px;
  overflow:hidden;
}
h4{
  text-align: center;
  position: relative;
  padding-right: 5em;
  margin-right: 180px;
}
body{
  min-width:100%;
  max-width:900px;
  width:100%;
  height:100%;
  overflow:screen;
}
h1{
  text-align:center;
  font-family:sans-serif;
}
p {
  text-align: center;
}
#front, #back {
  min-width:100%;
  max-width:900px;
  text-align: center;
}
#activeCardButtons {
  min-width: 100%;
  max-width: 900px;
  margin-left:auto;
  margin-right:auto;

}
#prev {

  margin-left: 0px;
  padding: 2px;
}
#flip {
  position:absolute;
  width: 50px;
  left:50%;
  margin-left:-25px;


}
#next {
float:right;
  margin-right:15px;
}
#submit {
  position:relative;
  width:180px;
  margin-left:;
  margin-top:10px;
  margin-bottom:10px;
  display:block;
}
#cardForm {
  position:absolute;
  width: 100%;
  margin-left:50%;
  margin-top:10px;
}
#front, #back{
  display:block;
}

/* #front:hover:before{
  position:relative;
  float:left;
  font-size:24px;
  content:'Question/Term:';
  z-index:-1;
  margin-right:-100%;
  margin-top: -6px;
  color:grey;
}
#back:hover:before{
  position:relative;
  float:left;
  font-size:24px;
  content:'Answer/Definition:';
  z-index:-1;
  margin-right:-100%;
  margin-top:-8px;
  color:grey;
} */

#clearDeck{
  position:relative;
  width:360px;
  margin-left:-90px;
  display: block;
}
#clearDeck:hover{
  color:red;
  border: 3px solid red;

}
#formContainer{
  display:block;
  position:relative;
  margin-left:-90px;
  width:100%;
}
#newTerm{
  position:relative;
  width:180px;
  margin-top:10px;
  display:block;
}
#newDef{
  position:relative;
  width:180px;
  margin-top:10px;

}
hr {
  margin-left:-8px;
}
a.activator {
cursor:pointer;
  position: absolute;
  bottom:10px;
}
#importExport {
    font-size:10pt;
    position:relative;
    bottom:200px;
    left:-600px;
    width: 500px;
	height:180px;
    background-color:#fff;
    color:#7F7F7F;
    padding:0px;

    border:0px solid #ccc;

    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
	border-radius: 20px;
	    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    z-index:101;

}
#import {
	float:left;
	width: 50%;
/* 		height: 100%; */
/* 	position:fixed; */
	height:100%;
	left:0px;
	background-color: lightgreen;
		border-bottom-left-radius: 20px;
			border-top-left-radius: 20px;

}
#export {
/* 	clear:right; */
	float:right;
	width:50%;
/* 	position:fixed; */
	height:100%;
	right: 0px;

	background-color: seagreen;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;

}
@keyframes slideright {
  0%{

  }
  100%{

  }

}
@keyframes slideleft {
  0%{

  }
  100%{

  }
}
a.close {
				position:relative;
/* 	display: inline; */
            float:right;
            width:26px;
            height:26px;
            background:transparent url(https://microwavemansion.com/images/cancel.png) repeat top left;
            margin-top:-26px;
            margin-right:-26px;
            cursor:pointer;
}
.overlay{
    background:transparent url(https://microwavemansion.com/images/overlay.png) repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}
#deckSubmit {
	border-bottom-left-radius: 20px;
	width:50%;
	position: absolute;
	bottom: 0px;
	height:50px
/* 	height:100%; */
}
#deckSubmit:hover {
	border:2px solid green;
}
#saveDeck {
	border-bottom-right-radius: 20px;
	width:50%;
	position:absolute;
	bottom: 0px;
			height:50px;



}
#saveDeck:hover {
	border: 2px solid limegreen;
}
#uploadDeck {
	padding-left:5px;
}

</style>
<body>
<h1>Flashcards (JS)</h1><br><br>
<h4 style="width:100%; text-align:center;margin-top:-50px;">check out the new hotkeys: L/R Arrow Keys for previous/next, Up/Down for front/back, Enter for adding a card, and Delete for clearing the deck (after a prompt)! </h4>
<p id="front">
  <!-- term lives here   -->
</p><br>
<hr><br>
<div id="back">
  <!-- definition lives here   -->
</div><br>
<div id ="activeCardButtons">
  <button id="prev" onclick="prevCard()">Previous Card
  </button>
  <button id="flip" type="button" value="Flip" onclick="flash()">
    Flip</button>
  <button id="next" onclick="nextCard()">Next Card
  </button>
</div>
<br>
<br>
<br>
<div id="formContainer">
  <form id="cardForm">
    <input id="newTerm" type="text" placeholder="Add your own term or concept..." onKeyDown="if(event.keyCode==13) document.getElementById('newDef').focus()">
    <input id="newDef" type="text" placeholder="...give it a definition, then click the button to..." onKeyDown="if(event.keyCode==13) cardAdd()">
    <br>
    <input id="submit" type="button" value="add it to the deck!" onClick="cardAdd()">
    <br>
    <input id="clearDeck" type="button" value="Click HERE to clear the deck!" onClick="emptyDeck()">
  </form>
  <br>
</div>
<select id="selectCards" style="display:none;">

</select>
<div id="importExport">

  <div id="import">
    <h2 style="text-align:center;">Import</h2>
    <p>choose a local file containing a <code>.json</code> array of cards, and then click below!</p>
    <input id="uploadDeck" type="file"></input>
    <button id="deckSubmit" onclick="upload_deck()">Choose a File and Click Here</button>

  </div>

  <div id="export">
    <a class="close" id="close" onclick="slideOut()"></a>
    <h2 style="text-align:center;color:white;">Export</h2>
    <p style="color:white;">Click below to save a local <code>.json</code> file containing the current deck.</p>

    <button id="saveDeck" onclick="download_deck()">Save this Deck?</button>
  </div>

</div>
<a class="activator" id="activator" onclick="slideIn()">Click Here to Import & Export/Save Decks of Cards</a>
<script type="text/javascript">

</script>
</body>

<script>
  function Card(term, definition, category) {
  this.term = term;
  this.definition = definition;
  //this.category = category;
}
var newDeck = [];
var newCard;
var front = document.getElementById("front");
var back = document.getElementById("back");
var flip = document.getElementById("flip");
var submit = document.getElementById("submit");
var clearDeck = document.getElementById("clearDeck");
var formFront, formBack;

function slideIn(){
  $('#importExport').animate({'left':'10px'},500);

    };
function slideOut(){
        $('#importExport').animate({'left':'-610px'},500);
    };
var card1 = new Card(
  "Lexical Environment",
  "Where code sits in relation to any surrounding code",
  "General"
);
var card2 = new Card(
  "Execution Context",
  "How, Why, When, and Where code is executed",
  "General"
);
var card3 = new Card(
  "JSON",
  "JavaScript Object Notation, for storing objects and their enclosed data. Often referred to as Key Value Pairs",
  "Objects"
);

var myCards = [card1, card2, card3];
var cardIndex = 0;

front.innerHTML = card1.term;
back.innerHTML = card1.definition;
back.style.visibility = "hidden";

function flash() {
  if (front.style.visibility != "hidden") {
    front.style.visibility = "hidden";
    back.style.visibility = "visible";
  } else {
    front.style.visibility = "visible";
    back.style.visibility = "hidden";
  }
}

function cardAdd(formFront, formBack) {
  function clearForm() {
    document.getElementById("newTerm").value = "";
    document.getElementById("newDef").value = "";
    document.getElementById("cardForm").reset();
  }

  function updatePlaceholder() {
    document.getElementById("newTerm").placeholder =
      "...another term?";
    document.getElementById("newDef").placeholder =
      "...and another definition?";
  }

  formFront = document.getElementById("newTerm");
  formBack = document.getElementById("newDef");
  if (
    formFront.value !== formBack.value &&
    formFront.value != "" &&
    formBack.value != ""
  ) {
    var newCard = new Card();
    newCard.term = formFront.value;
    newCard.definition = formBack.value;
    myCards.push(newCard);
    cardIndex = myCards.length - 1;
    clearForm();
    updatePlaceholder();
    front.innerHTML = myCards[cardIndex].term;
    back.innerHTML = myCards[cardIndex].definition;
    // back.style.visibility = "hidden";
  } else if (formFront.value == formBack.value) {
    alert('kinda defeats the purpose of a "flash" card doesn`t it?');
  } else if (
    (formFront.value == null || formFront.value == "", formBack.value == null ||
      formBack.value == "", formFront.value == null ||
      formBack.value == null ||
      formFront.value == "" ||
      formBack.value == "")
  ) {
    alert("Fill out both sides of the card, ya dringus!");
  }
  document.getElementById("newTerm").focus();
}

function nextCard() {
  cardIndex = (cardIndex + 1) % myCards.length;
  front.innerHTML = myCards[cardIndex].term;
  back.innerHTML = myCards[cardIndex].definition;
}
function prevCard() {
  if (cardIndex > 0)
    cardIndex = (cardIndex - 1);
  else if (cardIndex == 0) cardIndex = myCards.length-1;
  front.innerHTML = myCards[cardIndex].term;
  back.innerHTML = myCards[cardIndex].definition;

}
function emptyDeck() {
  var confirmation = confirm("Are you sure you want to delete this entire deck?");
  if (confirmation) {
  myCards.splice(0, myCards.length);
  cardIndex = 0;
  front.innerHTML = "&nbsp;";
  back.innerHTML = "&nbsp;";
  }
  document.getElementById("newTerm").focus();
}

    document.addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode == 37 ) {
        prevCard();
    }
    if (event.keyCode == 39 ) {
        nextCard();
    }
    if (event.keyCode == 38 || event.keyCode == 40) {
      flash();
    }
    if (event.keyCode == 46) {
      emptyDeck();
    }
    // if (event.keyCode == 9 && !(document.activeElement == document.getElementById("newTerm")) {
    //     document.getElementById("newTerm");
    //     }
});
function cardSelect(myCards, cardIndex) {
  var selectCards = document.getElementById("selectCards");
  var options = selectCards.appendElement("")
  options.map(myCards.keys);
}
function download(filename, text) {
    var pom = document.createElement('a');
    pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    pom.setAttribute('download', filename);

    if (document.createEvent) {
        var event = document.createEvent('MouseEvents');
        event.initEvent('click', true, true);
        pom.dispatchEvent(event);
    }
    else {
        pom.click();
    }
}
function download_deck(){
let t = JSON.stringify(myCards, null, "\t");
  let t2 = myCards;
let fn = "flashcards.json".toString();
download(fn, t);
}

function upload_deck() {
	var files = document.getElementById('uploadDeck').files;
  console.log(files);
  if (files.length <= 0) {
    return false;
  }

  var fr = new FileReader();

  fr.onload = function(e) {
    var newDeck = [];
  // console.log(e);
    var result = JSON.parse(e.target.result);


     for (i = 0; i < result.length;i++) {
      var newCard = new Card;
      let item = result[i];
      newCard.term = item["term"];
      newCard.definition = item["definition"];
      console.log("added card");
      console.log(JSON.stringify(newCard.term));
      newDeck.push(newCard);
    }

    // console.log(JSON.stringify(newDeck, null, 2));
    var formatted = JSON.stringify(result, null, 2);
    console.log("Upload Result:\r\n" + formatted);
    myCards.splice(0, myCards.length, ...newDeck);
    console.log("Current Deck:\r\n");
    console.log(JSON.stringify(myCards));
    updateDeck();
		// document.getElementById('result').value = formatted;
  }
fr.readAsText(files.item(0));

  // for (obj in fr.readAstext(files.item(0))) {
  //   newCard.term = obj["term"];
  //   newCard.definition == obj["definition"];
  //   console.log("added card!" + JSON.stringify(newCard.definition));
  // }


};
function updateDeck() {
  document.getElementById("front").innerHTML = myCards[cardIndex].term;
  document.getElementById("back").innerHTML = myCards[cardIndex].definition;

}
</script>

{% endblock %}