{% extends "layouts/base.html" %}

{% block meta %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block content %}

    <style>
        .forecast {
            font-family: 'Roboto Mono', 'Consolas', 'Menlo', monospace;
            font-size: 20px;
        }
    </style>

    <h1 style="background-color:#D596E0;text-align:center">Gennalyn</h1><br>

    <head>
        <title>Web Form With Language Translation</title>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>


        <script type="text/javascript">

            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "https://google-translate1.p.rapidapi.com/language/translate/v2",
                "method": "POST",
                "headers": {
                    "x-rapidapi-host": "google-translate1.p.rapidapi.com",
                    "x-rapidapi-key": "e2fed9f477mshb0403f373ef1691p179a63jsnb6e536455f90",
                    "content-type": "application/x-www-form-urlencoded"
                },
                "data": {
                    "source": "en",
                    "q": "hello",
                    "target": ""
                }

            }
            $(document).ready(function(){
                $(".dropdown-item").click(function(e){
                    if($(this).attr("tolang") != 'en'){
                        settings.data.target = $(this).attr("tolang");

                        fetchTranslation();
                        $('button').html($(this).html());
                    } else {
                        updatePlaceholders(settings.data.q);
                        $('#langSel').html("Translate to");
                    }
                });
            });
            function fetchTranslation(){
                console.log("Hello");
                $.ajax(settings).done(function (response) {
                    console.log(response);
                    var translatedText = response.data.translations[0].translatedText;
                    updatePlaceholders1(translatedText);
                });
            }
            function updatePlaceholders(updateString){
                var comp = updateString.split('|')
                $('form > input').each(function(idx){
                    $(this).prop("placeholder", comp[idx+1].trim() );
                });
                $("#formHeading").html(comp[0]);
            }
            function updatePlaceholders1(updateString){
                var comp = updateString.split('|')
                $('#langChange').text(comp[0]);
            }
        </script>
    </head>


    <body>

    <div class="container">
        <div class="row">
            <div class="col-sm">

            </div>


            <div class="col-sm" style="background-color:#DAF7A6 ;text-align:center">
                <div class="btn-group dropright translate">
                    <button id="langSel" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Translate to
                    </button>
                    <div class="dropdown-menu translate-option">
                        <a class="dropdown-item" href="#" tolang="en">English (default)</a>
                        <a class="dropdown-item" href="#" tolang="ja">Japanese</a>
                        <a class="dropdown-item" href="#" tolang="es">Spanish</a>
                        <a class="dropdown-item" href="#" tolang="ko">Korean</a>
                        <a class="dropdown-item" href="#" tolang="th">Thai</a>

                    </div>
                </div>
                <p id="langChange">hello

                </p>
                <div>

                </div>
            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>

    </body>



    <style>
        .forecast {
            font-family: 'Roboto Mono', 'Consolas', 'Menlo', monospace;
            font-size: 20px;
        }
    </style>

    <h2 style="background-color:#DAF7A6 ;text-align:center">Hello! I'm a junior here at Del Norte high school, class of
        2023! You can try out this google translate API that I incorporated up above! You can translate hello to either
        Spanish, Korean, Japanese, or Thai. </h2><br>


<center>
    <br><a class="button" href="https://docs.google.com/document/d/1Vq5dNQy-iN9p6DGT1PZSG1VUp3FRJ_72Pq5ppDtPAwg/edit?usp=sharing">Pair Share Journal</a></br>
    <br><a class="button" href="https://github.com/sanvi1855544/p3-avatar/commits?author=Gennalynb123">Individual Commits</a></br>
    <br><a class="button" href="https://docs.google.com/document/d/13ZNmSCC5W7jhd1W1TpFOIpgeJjYzPF5GXYxsItYlnfc/edit?usp=sharing">Create Task Plan</a></br>


</center>

<center>
    <img id="myImage" onclick="changeImage()" src="/static/images/gennalyn.png"" width="500" height="900">


    <script>
        function changeImage() {
            var image = document.getElementById('myImage');
            if (image.src.match("/static/images/gennalyn.png")) {
                image.src = "/static/images/watermelon.png";
            } else {
                image.src = "/static/images/gennalyn.png";
            }
        }
    </script>
</center>


{% endblock %}