{% extends "layouts/base.html" %}


{% block content %}

    <br><br><br><br><br><br><br><br><br>
    <h1>Welcome to dn.testprep. Get ready to get a 5 on the AP exam!!</h1>



{% endblock %}

{% block meta %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <body style="background-image:url('https://www.teahub.io/photos/full/330-3303722_anime-study-aesthetic.jpg');
                               background-position: center; background-repeat: no-repeat; background-size: cover;  background-attachment:fixed;">

    <style>

        h1 {
            color: black;
            text-align: center;
        }

        p {
            color: black;
            font-family: "Arial Rounded MT Bold";
            font-size: 35px;
            text-align: center;

        }

        #apicontainer{
            margin-top: 5px;
            margin-bottom: 20px;
        }

        #divapi{
            background-color: rgba(203, 203, 203, 0.32);
            width: 50%;
        }

        #api{
            font-size: 25px;
        }

        #apititle{
            text-decoration: underline;
            text-decoration-color: red;
            font-size: 30px;
        }

        button{
            margin-bottom: 5px;
        }

    </style>

{% endblock %}
