{% extends "layouts/base.html" %}

{% block meta %}
{% endblock %}

{% block content %}

    <center><h2>Sequencing, Selection, Iteration</h2></center>
    <br><br>
    <center>
        <p style="color: blue;", center>In this replit project is code for a simple number game. This number game shows excellent examples of the three main
            components of coding, which is sequencing, selection, and iteration. Go ahead and test out the game. See if you can
            follow along with the procedures and the code to understand how the game's algorithms function!</p> </center>

    <br>

    <iframe height="500px" width="100%" src="https://replit.com/@GennalynBongola/Try-it-yourself?lite=true"></iframe>

    <br><br><br>

    <center>
        <p style="color:blue;">The while loop is an example of iteration, or a part of the code which repeats under a certain condition. In this game,
            the algorithm repeats until the user reaches 0 lives. The If-then statement is an example of selection, which is a portion
            of code that is only run if a certain condition is met. In the case of this number game, if the user's guess equals
            the required number, the code displays "Yay! You won!". If this is not true, however, it will tell the user if their
            guess is either too high or too low.</p></center>

{% endblock %}