{% extends "layouts/base.html" %}

{% block meta %}
{% endblock %}

{% block content %}

    <center><h2>Lists and Indexes</h2></center>
    <br><br>
    <center>
        <p style="font-size:2vw; color:blue">This replit project is code for a simple random dare generator. This random dare generator
            takes data from a variety of lists to create one full random dare statement. This is a great example of how lists are used
            and how its data is called in various algorithms or procedures.</p> </center>

    <br>

    <iframe height="500px" width="100%" src="https://replit.com/@GennalynBongola/Try-it-yourself-notes?lite=true"></iframe>

    <br><br><br>

    <center>
        <p style="font-size:2vw; color:blue">In this set of code, we have three simple sets of lists, each containing a different portion of the
            random dare that is to be generated. A random index is pulled from each list and is then put together to form
            one dare statement that makes sense to the user.</p></center>

{% endblock %}