{% extends "layouts/base.html" %}

{% block meta %}
{% endblock %}

{% block content %}

    <center><h2>Variables</h2></center>
    <br><br>
    <center>
        <p style="color: blue;", center>In this replit project, there is code for a simple adventure story which utilizes user input.
            Prior to the story being displayed, the user is asked to provide a character name and nickname which will be used
            in the adventure story.</p> </center>

    <br>

    <iframe height="500px" width="100%" src="https://replit.com/@GennalynBongola/Try-it-yourself-story?lite=true"></iframe>

    <br><br><br>

    <center>
        <p style="color:blue;">Here, we can see how variables are defined, created, and called. Variables can be utilized in a variety of
            different ways to help make our algorithms compact and efficient.</p></center>

{% endblock %}